@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FFB400;
  --color-primary-hover: #E0A000;
  --color-secondary: #FFF8E1;
  --color-bg-main: #F8F9FB;
  --color-card-main: #FFFFFF;
  --color-text-main: #4B5563;
  --color-border-main: #ECECEC;
  --font-poppins: "Poppins", sans-serif;
  --font-sans: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}